.avatar {
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  &.avatar-small {
    width: 30px;
    height: 30px;
    & .avatar-text {
      font-size: $fontsize-small !important;
    }
    & .avatar-active{
      width: 6px;
      height:6px
    }
  }
  &.avatar-medium {
    width: 35px;
    height: 35px;
    & .avatar-text {
      font-size: $fontsize-medium !important;
    }
    & .avatar-active{
      width: 8px;
      height:8px
    }
  }
  &.avatar-large {
    width: 40px;
    height: 40px;
    & .avatar-text {
      font-size: $fontsize-large !important;
    }
    & .avatar-active{
      width: 10px;
      height:10px
    }
  }
  & .avatar-image {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: contain;
    text-align: center;

    &.avatar-rounded {
      border-radius: 50% !important;
    }
    &.avatar-square {
      border-radius: 0% !important;
    }
  }

  & .avatar-text {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: $primary-color;
    color: $white-color;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $fontsize-small;
    font-weight: 400;
  }
  & .avatar-active {
    position: absolute;
    display: flex;
    z-index: 1;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    bottom: 0px !important;
    right: 0px !important;
    background-color: $sucess-color;
    box-shadow: rgb(255,255,255)0px 0px 0px 2px;
  }
  & .avatar-icon {
    position: absolute;
    display: flex;
    z-index: 1;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    bottom: 2px !important;
    right: 0px !important;
    background-color: $sucess-color;
    box-shadow: rgb(255,255,255)0px 0px 0px 2px;
  }
  & .avatar-rounded {
    border-radius: 50% !important;
  }
  & .avatar-square {
    border-radius: 0% !important;
  }
  & .avatar-primary {
    background-color: $primary-color;
    color: $white-color;
  }
  & .avatar-secondary {
    background-color: $secondary-color;
    color: $white-color;
  }
  & .avatar-sucess {
    background-color: $sucess-color;
    color: $white-color;
  }
}
