.avatar {
  box-sizing: border-box;


  &.avatar-small {
    width: 30px;
    height: 30px;
    & .avatar-text {
      font-size: 14px !important;
    }
  }
  &.avatar-medium {
    width: 40px;
    height: 40px;
    & .avatar-text {
      font-size: 16px !important;
    }
  }
  &.avatar-large {
    width: 50px;
    height: 50px;
    & .avatar-text {
      font-size: 20px!important;
    }
  }
  & .avatar-image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: contain;
    text-align: center;
    &.avatar-rounded {
      border-radius: 50% !important;
    }
    &.avatar-square {
      border-radius: 0% !important;
    }
  }

  & .avatar-text {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: $gray-color;
    color:$white-color;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
  }
  & .avatar-rounded {
    border-radius: 50% !important;
  }
  & .avatar-square {
    border-radius: 0% !important;
  }
  & .avatar-primary {
    background-color: $primary-color;
    color: $white-color;
  }
  & .avatar-secondary {
    background-color: $secondary-color;
    color: $white-color;
  }
  & .avatar-sucess {
    background-color: $sucess-color;
    color: $white-color;
  }
}
