.breadcrumbs {
  & ul {
    list-style-type: none;
    position: relative;
    padding: 0;
    margin: 0;
  }

  & li {
    display: inline;
    color: #768bc0;
    margin-right: 7px;
    & .breadcrumbs-icon {
      position: absolute;
      top: -4px;
    }
    & .icon-active {
      position: absolute;
      top: -4px;
      color: $primary-color;
    }

    & .last-item {
      padding-left: 7px;
      color: $primary-color;

      &.pl-25 {
        padding-left: 25px;
      }
    }
  }

  & a {
    text-decoration: none;
    color: #768bc0;
    padding: 5px;
  }
  & a:hover {
    text-decoration: underline;
  }

  & .breadcrumbs-list {
    padding-left: 25px;
  }
}
