.breadcrumbs {

  & ul {
    list-style-type: none;
    position: relative;
    padding: 0;
    margin: 0;
  }

  & li {
    display: inline;
    color: #768bc0;
    margin-right: 8px;
    font-size: 14px;
    & .breadcrumbs-icon {
      position: absolute;
      top: 2px;
      font-size: 14px;
    }
    & .icon-active {
      position: absolute;
      top: 2px;
      color: $primary-color;
    }
    & .breadcrumbs-separator{
      margin-left:10px
    }
    & .last-item {
      padding-left: 8px;
      color: $primary-color;

      &.pl-20 {
        padding-left: 18px;
      }
    }
  }

  & a {
    text-decoration: none;
    color: #768bc0;
  }
  & a:hover {
    text-decoration: underline;
  }

  & .breadcrumbs-list {
    padding-left: 18px;
  }
}
