@import "../variables/variable.scss";

.button-disabled {
  background-color: none !important;
}

.button-component {
  box-sizing: border-box;
  display: inline-block;
  cursor: pointer;
  list-style: none;
  display: flex;
  align-items: center;
  height: 30px;
  padding: 12px 14px;
  border-radius: 6px;
  line-height: 15px;
  font-size: 16px;
  font-weight: 500;
  position: relative;

  &.button-disabled {
    cursor: not-allowed;
  }

  // ......theme & varient...........

  &.button-contained {
    border-style: none;
    background-color: $primary-color;
    color: $white-color;

    &.button-color-secondary {
      background-color: $secondary-color;

      &.button-contained:hover,
      &.button-contained:focus {
        background-color: transparentize($secondary-color, $amount: 0.25);
      }
    }
    &.button-color-sucess {
      background-color: $sucess-color;
      &.button-contained:hover,
      &.button-contained:focus {
        background-color: transparentize($sucess-color, $amount: 0.25);
      }
    }
    &.button-color-danger {
      background-color: $danger-color;
      &.button-contained:hover,
      &.button-contained:focus {
        background-color: transparentize($danger-color, $amount: 0.25);
      }
    }
  }
  &.button-text {
    border-style: none;
    background-color: white;
    color: $primary-color;

    &.button-color-secondary {
      color: $secondary-color;
      &.button-text:hover,
      &.button-text:focus {
        background-color: transparentize($secondary-color, $amount: 0.75);
      }
    }
    &.button-color-sucess {
      color: $sucess-color;
      &.button-text:hover,
      &.button-text:focus {
        background-color: transparentize($sucess-color, $amount: 0.75);
      }
    }
    &.button-color-danger {
      color: $danger-color;
      &.button-text:hover,
      &.button-text:focus {
        background-color: transparentize($danger-color, $amount: 0.75);
      }
    }
  }
  &.button-outlined {
    color: $primary-color;
    border-color: $primary-color;
    border-width: 1px;
    background-color: white;

    &.button-color-secondary {
      color: $secondary-color;
      border-color: $secondary-color;
      &.button-outlined:hover,
      &.button-outlined:focus {
        background-color: transparentize($secondary-color, $amount: 0.75);
      }
    }
    &.button-color-sucess {
      color: $sucess-color;
      border-color: $sucess-color;
      &.button-outlined:hover,
      &.button-outlined:focus {
        background-color: transparentize($sucess-color, $amount: 0.75);
      }
    }
    &.button-color-danger {
      color: $danger-color;
      border-color: $danger-color;
      &.button-outlined:hover,
      &.button-outlined:focus {
        background-color: transparentize($danger-color, $amount: 0.75);
      }
    }
  }
  //...................size & shape................
  &.button-square {
    border-radius: 0% !important;
  }

  &.button-circle {
    border-radius: 50%;
  }

  &.button-small {
    &.button-icon-label {
      gap: 5px;
      .bil-span {
        line-height: 15px;
      }
    }
    &.button-circle {
      border-radius: 15px;
      padding: 0px 6px;
      line-height: 10px;

      &.button-icon-label {
        .bil-span {
          line-height: 28px;
        }
      }
      .button-span {
        font-size: 18px;
        line-height: 28px;
      }
      .button-icons {
        font-size: 18px;
        line-height: 28px;
      }
    }
    .button-icons {
      font-size: 18px;
      line-height: 15px;
    }
  }

  &.button-medium {
    height: 35px;
    font-size: 18px;
    line-height: 15px;

    &.button-icon-label {
      gap: 5px;
      .bil-span {
        line-height: 18px;
      }
    }

    &.button-circle {
      border-radius: 20px;
      padding: 0px 8px;
      height: 35px;
      line-height: 10px;

      .button-span {
        font-size: 18px;
        line-height: 32px;
      }

      .button-icons {
        font-size: 18px;
        line-height: 32px;
      }
      &.button-icon-label {
        .bil-span {
          line-height: 32px;
        }
      }
    }

    .button-icons {
      font-size: 18px;
      line-height: 19px;
    }
  }
  &.button-large {
    height: 40px;
    font-size: 20px;
    line-height: 17px;

    &.button-icon-label {
      gap: 5px;
      .bil-span {
        line-height: 18px;
      }
    }

    &.button-circle {
      border-radius: 27px;
      padding: 11px 11px;
      height: 45px;

      &.button-icons {
        font-size: 20px;
        line-height: 19px;
      }
    }
    .button-icons {
      font-size: 20px;
      line-height: 19px;
    }
  }
}

.button-contained:hover,
.button-contained:focus {
  background-color: transparentize($primary-color, $amount: 0.25);
}
.button-text:hover,
.button-text:focus {
  background: transparentize($primary-color, $amount: 0.75);
}

.button-outlined:hover,
.button-outlined:focus {
  background-color: transparentize($primary-color, $amount: 0.75);
}
