.input {
  padding: 5px 15px;
  width: 300px;
  border-radius: 3px;
  outline: none;
  font-size: 16px;
  height: 25px;
  border: 1px solid black;
  &:focus {
    border: 1px solid $primary-color !important ;
  }
  &.input--error {
    border: 1px solid $danger-color;
    &:focus{
      border: 1px solid $danger-color !important;
    }
  } 
}

.error--message {
  margin-top: 10px;
  color: $danger-color;
}

.input-container {
  display: flex;
  width: 100%;
}

.icon-input {
  border-left-style: none;
  &:focus {
    border-left-style: none;
  }
}
.icon {
  border: 1px solid $black-color;
  padding: 15px;
  min-width: 15px;
  text-align: center;
  color: $black-color;

  &.icon--small {
    font-size: 24px;
  }
  &.icon--medium {
    font-size: 32px;
  }
  &.icon--large {
    font-size: 40px;
  }
}

input:disabled{
  border: 1px solid gray;
}