.input-container {
  display: flex;
  width: 100%;
  z-index: 1;
  align-items: center;

  & .input {
    position: relative;
    padding: 5px 20px;
    width: 300px;
    border-radius: 3px;
    outline: none;
    font-size: 16px;
    height: 25px;
    border: 1px solid black;
    &:focus {
      border: 1px solid $primary-color !important ;
    }
    &.input--error {
      border: 1px solid $danger-color;
      &:focus {
        border: 1px solid $danger-color !important;
      }
    }
  }
}

.error--message {
  margin-top: 10px;
  color: $danger-color;
}

.icon-input {
  padding-left: 45px !important;

}
.icon {
  color: $black-color;
  position: absolute;
  width:20px;
  height:20px;
  left: 25px;
  z-index: 2;
  object-fit: contain;
}

input:disabled {
  border: 1px solid gray;
}
