.pagination {
  display: flex;
  align-items: center;

  & button {
    border: none;
    background-color: $white-color;
    cursor: pointer;
    font-size: 16px;
  }
  &.disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.5;
  }

  & .prev {
    background-color: $white-color;
    margin-right: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;

    &.disabled {
      pointer-events: none;
      cursor: default;
      opacity: 0.5;
    }
  }
  & .next {
    background-color: $white-color;
    margin-left: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;

    &.disabled {
      pointer-events: none;
      cursor: default;
      opacity: 0.5;
    }
  }

  & .pagination-item {
    position: relative;
    padding: 10px 15px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin: 0 5px;
    & span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &.active {
      border: $gray-color;
      pointer-events: none;
      color: $white-color;
      background-color: $gray-color;
    }
    &.active-primary {
      background-color: $primary-color;
      pointer-events: none;
    }
    &.active-secondary {
      background-color: $secondary-color;
      pointer-events: none;
      color: $white-color;
    }
    &.active-success {
      background-color: $sucess-color;
      pointer-events: none;
      color: $white-color;
    }
  }
  & .pagination-outline {
    position: relative;
    background-color: $white-color;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin: 0 5px;
    border: 1px solid $gray-color !important;
    &.active {
      border: $gray-color;
      pointer-events: none;
    }
    &.active-primary {
      pointer-events: none;
      border: 1px solid $primary-color !important;
    }
    &.active-secondary {
      pointer-events: none;
      border: 1px solid $secondary-color !important;
    }
    &.active-success {
      pointer-events: none;
      border: 1px solid $sucess-color !important;
    }
  }
  & .pagination-rounded {
    position: relative;
    background-color: $white-color;
    height: 30px;
    width: 30px;
    border-radius: 20%;
    margin: 0 5px;
    border: 1px solid $gray-color;
    &.active {
      border: $gray-color;
      pointer-events: none;
    }
    &.active-primary {
      pointer-events: none;
      border: 1px solid $primary-color !important;
      background-color: $primary-color;
      color:$white-color

    }
    &.active-secondary {
      pointer-events: none;
      border: 1px solid $secondary-color !important;
      background-color: $secondary-color;
      color:$white-color


    }
    &.active-success {
      pointer-events: none;
      border: 1px solid $sucess-color !important;
      background-color: $sucess-color !important;
      color:$white-color


    }
  }
  & .pagination-square {
    position: relative;
    background-color: $white-color;
    height: 30px;
    width: 30px;
    border-radius: 1%;
    margin: 0 5px;
    border: 1px solid $gray-color;
    &.active {
      border: $gray-color;
      pointer-events: none;
    }
    &.active-primary {
      pointer-events: none;
      background-color: $sucess-color !important;
      color:$white-color
    }
    &.active-secondary {
      pointer-events: none;
      background-color: $sucess-color !important;
      color:$white-color
    }
    &.active-success {
      pointer-events: none;
      background-color: $sucess-color !important;
      color:$white-color
    }
  }
}
