@import "../variables/variable.scss";

.table-caption {
  padding-bottom: 15px;
}
.table-component {
  width: 100%;
  border-spacing: 0;
  th {
    padding: 15px;
  }

  thead {
    th {
      border-bottom: 1px solid rgb(224, 224, 224);
      padding: 16px;
      font-weight: 500;
      font-family: Roboto, Helvetica, Arial, sans-serif;
      font-size: 0.875rem;
      text-align: left;
    }
  }

  th {
    &.up {
      background-image: $up-arrow;
    }
    &.down {
      background-image: $down-arrow;
    }
    &.default {
      background-image: $default;
    }
    &.up,
    &.down,
    &.default {
      cursor: pointer;
      background-repeat: no-repeat;
      background-position: center right;
    }
  }

  tbody {
    tr {
      td {
        font-family: Roboto, Helvetica, Arial, sans-serif;
        font-weight: 400;
        font-size: 0.875rem;
        border-bottom: 1px solid rgb(224, 224, 224);
        padding: 15px;
        color: rgba(0, 0, 0, 0.87);
      }
    }
  }

  .td,
  .th {
    border-top: 1px solid $black-color;
    padding: 8px 20px;
  }
  tbody {
    tr:nth-child(even) {
      td {
        background-color: #f6f6f6;
      }
    }
    tr {
      td:hover {
        background-color: #e6e6e6;
      }
    }
  }
}
