$primary-color: #2979ff;
$secondary-color: #ff8a65;
$sucess-color: #66bb6a;
$gray-color: #b1b1b1;
$black-color: #555;
$white-color: #ffffff;
$danger-color: #ff3333;

$up-arrow: url("../../images/up_arrow.png");
$down-arrow: url("../../images/down_arrow.png");
$default: url("../../images/default.png");

$up-accordion: url("../../images/up-arrow.svg");
$down-accordion: url("../../images/down-arrow.svg");
