$primary-color: #3563e9;
$secondary-color: #eeeeee;
$sucess-color: #66bb6a;
$gray-color: #eeeeee;
$black-color: #11151f;
$white-color: #ffffff;
$danger-color: #d20319;
$color: #24468b;

$fontsize-small: 12px;
$fontsize-medium: 14px;
$fontsize-large: 16px;

$up-arrow: url("../../images/up_arrow.png");
$down-arrow: url("../../images/down_arrow.png");
$default: url("../../images/default.png");

$up-accordion: url("../../images/up-arrow.svg");
$down-accordion: url("../../images/down-arrow.svg");
