// $primary-color: #2979ff;
// $primary-light-color: #c3d8fc;
// $primary-hover-color: #5393ff;

// $danger-color: #f44336;
// $danger-hover-color: #f6685e;
// $white-color: #f3f1f1;
// $black-color: #1b1a1a;

$primary-color: #2979ff;
$secondary-color: yellow;
$sucess-color: green;
$gry-color: grey;
$black-color: black;
$white-color: white;
$danger-color: red;
